.apis-container {
    max-width: 1200px;
    margin: 0 auto
}

.api-card {
    .card-head {
        a {
            text-decoration: none;
            color: #2f2d2d;

            .head-content {
                display: flex;
                align-items: center;
                padding: 10px;

                img {
                    border-radius: 50%;
                }

                h2 {
                    font-size: 17px;
                    font-weight: 700;
                    padding: 0px 15px;
                }
            }
        }
    }
}