.apis-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0px;
}

.doc-card {
    margin-bottom: 15px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    border-radius: 5px;
    .card-head {

        a {
            text-decoration: none;
            color: #2f2d2d;

            .head-content {
                display: flex;
                align-items: center;
                padding: 10px 12px;

                img {
                    border-radius: 50%;
                    background-color: #fff;
                }

                .card-title {
                    padding: 0px 15px;
                    margin-bottom: 0;

                    h2 {
                        font-size: 17px;
                        font-weight: 600;
                        line-height: 17px;
                        margin: 0;
                    }

                    span {
                        font-size: 14px;
                        color: #4e4e4e;
                    }

                }
            }
        }
    }

    .card-content {
        padding: 15px;

        p {
            color: #4e4e4e;
            line-height: 150%;
            font-size: 14px !important;
        }

        .read-more {
            font-size: 14px;
            font-weight: 700;
        }
    }
}

.api-card {
    margin-bottom: 15px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    border-radius: 5px;
    .card-head {

        .head-content {
            display: flex;
            align-items: center;
            padding: 10px 12px;

            img {
                border-radius: 50%;
                background-color: #fff;
            }

            .card-title {
                padding: 0px 15px;
                margin-bottom: 0;

                h2 {
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 17px;
                    margin: 0;
                }

                span {
                    font-size: 14px;
                    color: #4e4e4e;
                }

                .api-meta {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        display: inline-block;
                        font-size: 12px !important;
                        padding-right: 10px;
                        color: #4e4e4e;
                        a {
                            color: #4e4e4e;
                        }
                    }
                }

            }
        }
    }

    .card-content {
        padding: 15px;

        p {
            color: #4e4e4e;
            line-height: 150% !important;
            font-size: 14px !important;
            height: 41px;
            overflow: hidden;
        }

        .read-more {
            font-size: 14px;
            font-weight: 700;
        }
    }
}

.tool-card {
    margin-bottom: 15px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    border-radius: 5px;
    cursor: pointer;
    .head {
        display: grid;
        grid-template-columns: 60px auto;
        grid-gap: 20px;
        align-items: center;
        padding: 10px;
        height: 70px;
        img {
            max-width: 100%;
            height: 60px;
            border-radius: 50%;
        }
        .title {
            h2 {
                font-size: 17px;
                font-weight: 600;
                line-height: 22px;
                margin: 0;
                max-height: 45px;
                overflow: hidden;
            }
        }
    }
    .card-content {
        padding: 15px 10px;

        p {
            color: #4e4e4e;
            line-height: 150% !important;
            font-size: 14px !important;
            height: 41px;
            overflow: hidden;
        }
    }

    .keywords {
        display: flex;
        padding: 0px 10px 10px 10px;
        .keyword {
            font-size: 12px;
            padding-right: 8px;
        }
    }

    .pricing {
        display: flex;
        font-size: 12px;
        .tool-price {
            padding-right: 8px;
            color: #4e4e4e;
        }
    }
}

.resources-card {
    margin-bottom: 15px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    border-radius: 5px;
    cursor: pointer;
    .card-head {
        .card-img {
            height: 130px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .content {
        padding: 10px;
        h2 {
            font-size: 17px;
            font-weight: 600;
            line-height: 22px;
            margin: 0;
            max-height: 45px;
            overflow: hidden;
        }
        p {
            color: #4e4e4e;
            line-height: 150% !important;
            font-size: 14px !important;
            height: 50px;
            overflow: hidden;
            padding: 8px 0px;
        }
    }
}