.blog-card-box {
    position: relative;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr) ) ;
    grid-gap: 40px;
    margin: 80px auto;
    .card-image {
        width: 100%;
        img {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
    
    .card-box{
        border-radius: 5px;
        box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
        cursor: pointer;
        a {
            text-decoration: none;
            .blog-card {
                display: grid;
                grid-template-columns: 40% 60%;
            }
    
            .card-content {
                padding: 20px;
                h2 {
                    font-size: 22px;
                    font-weight: 600;
                    color: #2f2d2d;
                }
    
                .keywords {
                    span {
                        font-size: 13px;
                        color: #4e4e4e;
                        padding-right: 5px;
                    }
                }
    
                .reading-time {
                    font-size: 11px;
                    color: #4e4e4e;
                }
            }
        }
    }

}