header {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

    .header-navbar {
        max-width: 1200px;
        margin: 0 auto;
        padding: 5px 0px;

        .navbar-nav {
            padding-left: 15px;

            a {
                text-decoration: none;
                color: #000;
                font-size: 14px;
            }


        }

        .navbar-brand {
            a {
                color: #000;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
}

.nav-menu {
    display: grid;
    grid-template-columns: 120px auto 200px;
    padding: 5px 20px;

    .input-group {
        width: 100% !important;

        input {
            background-color: rgba(0,0,0,.05);
            border: none;
            font-size: 16px;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .input-group-prepend {
            border: none !important;
            font-size: 16px;
            cursor: pointer;
            .input-group-text {
                border: none;
            }
        }
    }
}

.navbar-expand-lg {
    @media screen and (min-width: 992px) {
        justify-content: space-between !important;
    }
}

