header {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

    .header-navbar {
        max-width: 1200px;
        margin: 0 auto;
        padding: 5px 0px;

        .navbar-nav {
            padding-left: 15px;

            a {
                text-decoration: none;
                color: #000;
            }


        }

        .navbar-brand {
            a {
                color: #000;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
}