.landing-section {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    .inner {
        margin: 40px 10px;
        background: #FFEFBA;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3e3332, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3e3332, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 10px;
    }
    .inner {
        @media screen and (max-width: 720px) {
            display: none
        }
    }
}




