html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

p, ul li, pre, code {
    line-height: 180% !important;
    font-size: 16px !important;
}

pre {
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px !important;
}