.blog-container {
    max-width: 1200px;
    margin: 0px auto;
    .blog-card-box {
        position: relative;
        grid-gap: 40px;
        display: grid;
        margin: 40px 0px;
        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(auto-fill, minmax(500px, 1fr) ) ;
        }
        .card-image {
            width: 100%;
            img {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
        
        .card-box{
            border-radius: 5px;
            box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
            cursor: pointer;
            a {
                text-decoration: none;
                .blog-card {
                    display: grid;
                    grid-template-columns: 40% 60%;
                    align-items: center;
                }
        
                .card-content {
                    padding: 5px 20px;
                    h2 {
                        font-size: 22px;
                        font-weight: 600;
                        color: #2f2d2d;
                        @media screen and (max-width: 992px) {
                            font-size: 16px;
                        }
                    }
        
                    .keywords {
                        span {
                            font-size: 13px;
                            color: #4e4e4e;
                            padding-right: 5px;
                        }
                    }
        
                    .reading-time {
                        font-size: 11px;
                        color: #4e4e4e;
                    }
                }
            }
        }
    
    }
}

 blockquote {
        position: relative;
        left: 7px;
        background: #ccccff;
        box-shadow: -2px 0 0 #0000FF, -4px 0 0 #ccccff, -7px 0 0 #0000FF;
        padding: 10px;
        p {
            margin :0 !important;
        }
 }