.resources-card {
    margin-bottom: 15px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    border-radius: 5px;
    .card-head {
        cursor: pointer;
        height: 140px;
        .card-img {
            height: 130px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .content {
        padding: 10px;
        h2 {
            font-size: 17px;
            font-weight: 600;
            line-height: 22px;
            margin: 0;
            height: 45px;
            overflow: hidden;
            cursor: pointer;
        }
        p {
            color: #4e4e4e;
            line-height: 150% !important;
            font-size: 14px !important;
            height: 50px;
            overflow: hidden;
            padding: 8px 0px;
        }
    }

    .card-actions {
        font-size: 12px;
        display: grid;
        grid-template-columns: 50% 50%;
        background: #c1c1c1;
        div {
            text-align: center;
            padding: 8px;
            &:hover {
                background-color: #eee;
            }
        }
        .copy {
            cursor: copy;
        }
        .view {
            cursor: pointer;
        }
    }
}